* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    
}
body {
    font-family: 'Poppins', sans-serif;

}
header{
    display: flex;
    width: 90%;
    height: 10vh;
    margin: auto;
    
}
.logo-container{
    object-fit: cover;
    border-radius: 50%;
    width: 100px;
    height: 185px;
}
.logo {
    font: weight 400px;
    margin: 5px;
    
}
nav{
    flex: 2;
}
.nav-links{
    justify-content: space-around;
}