* {
    margin: 0px;
    padding: 0px;
    font-family: 'Poppins', sans-serif;
    
}
body {
    font-family: 'Poppins', sans-serif;

}
.bannar{
  background-image: url();
  background: rgba(248, 229, 211, 0.7);
  width: 50%;
  height: 50%;
}
    
