* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    
}
body {
    font-family: 'Poppins', sans-serif;
}
.logo-container{
    flex: 1;
}
.logo {
    font: weight 400px;
    margin: 5px;
}